





                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="menu-item product-image">
                                                <a href="{{path('single_product',{id:singleProduct.id})}}">
                                                {% if singleProduct.image %}
                                                    <img src="{{ asset('uploads/' ~ singleProduct.image) | imagine_filter('my_thumb') }}" alt="{{singleProduct.name}}" />

                                                    
                                                {% else %}
                                                    <img height="136" src="{{asset("bundles/flexyfront/assets/images/picture.png")}}" alt="{{singleProduct.name}}">
                                                {% endif %}
                                                </a>

                                                {% if singleProduct.oldPrice %}  
                                                {% set factoryPercent = singleProduct.price / singleProduct.oldPrice %}
                                                {% set percent = 100 - (factoryPercent * 100 ) %}                                              
                                                <span class="sticker"> <b> - {{ percent|number_format(0, ',', ' ') }} %</b></span>
                                                {% endif %}


                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer menu-item">
                                                            <a href="{{singleProduct.vendor ? path('single_vendor',{id:singleProduct.vendor.id}) : "#" }}">{{singleProduct.brand ? singleProduct.brand :""}}   <br>
                                                            <small style="font-weight:200;">{{singleProduct.vendor ? "Par "~ singleProduct.vendor:""}}</small>
                                                            </a>
                                                            
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li class="no-star"><i class="fa fa-star"></i></li>
                                                                <li class="no-star"><i class="fa fa-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{{path('single_product',{id:singleProduct.id})}}">{{singleProduct.name}}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">{{singleProduct.formattedPrice}} MAD </span>
                                                        {% if singleProduct.oldPrice %}
                                                        <span class="old-price">{{singleProduct.oldPrice / 100}} MAD</span>
                                                        {% endif %}
                                                    </div>
                                                    {% if isDeal is defined and  isDeal == true and singleProduct.promotion %}
                                                    <div class="countersection">
                                                        <div data-endat="{{singleProduct.promotion.endAt|date("Y/m/d")}}" class="li-countdown"></div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">


                                                          

                                                        <li data-id="{{singleProduct.id}}"  data-name="{{singleProduct.name}}" data-image="uploads/{{asset(singleProduct.image)}}" data-price="{{singleProduct.formattedPrice}}"  data-url="{{path('single_product',{id:singleProduct.id}) }}"  class="add-cart active add-product-to-cart"><a  onclick="return false;" href="#">Ajouter au panier</a></li>
                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                        {% if singleProduct.promotion == null %}
                                                        <li><a href="#" title="Prévisualiser" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                         {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                   