
 <!-- Footer Start -->
 <div class="footer-section section">
 <div class="container">

 <!-- Footer Widget Wrapper Start -->
 <div class="footer-widget-wrapper">
 <div class="row">
 <div class="col-lg-3 col-sm-6">
 <!-- Footer Widget Start -->
 <div class="footer-widget widget-about">
 <a class="footer-logo" href="index.html"><img src="{{asset('lambition/assets/images/logo.png')}}" alt="Logo"></a>

 <div class="widget-info">
 <p>Le groupe scolaire l’Ambition assure l’évolution de vos enfants tout au long du processus scolaire : de la maternelle jusqu’à l’obtention de leur baccalauréat au sein de notre école.
 <br>

                             </p>

 <ul class="social">
 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
 <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
 <li><a href="#"><i class="fab fa-github"></i></a></li>
 </ul>
 </div>
 </div>
 <!-- Footer Widget End -->
 </div>
 <div class="col-lg-3 col-sm-6">
 <!-- Footer Widget Start -->
 <div class="footer-widget">
 <h4 class="footer-widget-title">Approche pédagogique</h4>

 <div class="widget-link">
 <ul class="link">
 {#}
 <li><a href="{{path('front_maternelle')}}">Maternelle</a></li>
 <li><a href="{{path('front_primaire')}}">Primaire</a></li>
 <li><a href="{{path('front_college')}}">Collége</a></li>
 <li><a href="{{path('front_lycee')}}">Lycée</a></li>
 #}
 </ul>
 </div>
 </div>
 <!-- Footer Widget End -->
 </div>
 <div class="col-lg-3 col-sm-6">
 <!-- Footer Widget Start -->
 <div class="footer-widget">
 <h4 class="footer-widget-title">S'engager</h4>

 <div class="widget-link">
 <ul class="link">
 <li><a href="#">Inscription</a></li>
 <li><a href="#">Contactez-nous</a></li>
 <li><a href="#">Postulez</a></li>
 </ul>
 </div>
 </div>
 <!-- Footer Widget End -->
 </div>
 <div class="col-lg-3 col-sm-6">
 <!-- Footer Widget Start -->
 <div class="footer-widget">
 <h4 class="footer-widget-title">Contact Us</h4>

 <ul class="widget-info">
 <li>
 <div class="media">
<i class="fas fa-map-marker-alt"></i>
 <div class="media-body">
 <span>Ain sbaa - Casablanca</span>
 </div>
 </div>
 </li>
 <li>
 <div class="media">
 <i class="fas fa-phone-volume"></i>
 <div class="media-body">
 <a href="tel:+91458654528"> +212 5 22 67 38 79</a><br>



                            

                            
 </div>
 </div>
 </li>
  <li>
 <div class="media">
<i class="fas fa-globe" > </i>
 <div class="media-body">
 <a href="{{path('front_home')}}"> www.groupe-ambition.ma</a><br>



                            

                            
 </div>
 </div>
 </li>




 
 <li>
 <div class="media">
 <i class="fas fa-envelope"></i>
 <div class="media-body">
 <a href="mailto:contact@groupe-ambition.ma">contact@groupe-ambition.ma</a>
 </div>
 </div>
 </li>
 </ul>
 </div>
 <!-- Footer Widget End -->
 </div>
 </div>
 </div>
 <!-- Footer Widget Wrapper End -->

 <!-- Footer Copyright End -->
 <div class="footer-copyright">
 <div class="copyright-wrapper">
 <div class="copyright-design">
 
 </div>
 <div class="copyright-text">
 <p>&copy; Copyright 2021 Groupe L'ambition. Tous droits réservés </p>
 </div>
 </div>
 </div>
 <!-- Footer Copyright End -->

 </div>
 </div>
 <!-- Footer End -->

