 <!-- Header Start -->
 <div id="header" class="header section">
 <div class="container">

 <!-- Header Wrapper Start -->
 <div class="header-wrapper">

 <!-- Header Logo Start -->
 <div class="header-logo">
 <a href="{{path('front_home')}}"><img src="{{asset('lambition/assets/images/logo.png')}}" alt=""></a>
 </div>
 <!-- Header Logo End -->

 <!-- Header Right Start -->
 <div class="header-right">

 <!-- Header Menu Start -->
 <div class="header-menu d-none d-lg-block">
 <ul class="main-menu">
 <li class="active-menu">
 <a href="{{path('front_home')}}">Accueil</a>
 <ul class="sub-menu">
  {% for page in pages %}
    <li><a href="{{path('front_page',{slug:page.slug})}}" >{{page.title}}</a></li>
 {% endfor %}


 </ul>
 </li>
 <li><a href="#">Approche pédagogique</a>
 <ul class="sub-menu">
 {% for page in pagesNiveau %}
    <li><a href="{{path('front_page',{slug:page.slug})}}" >{{page.title}}</a></li>
 {% endfor %}

 </ul>
 </li>
 <li><a href="#">Nos moments

</a>
 <ul class="sub-menu">
 <li><a href="#">Galerie</a></li>
 <li><a href="#">Evénements</a></li>
 </ul>
 </li>
 <li><a href="#">Vie scolaire</a>
 <ul class="sub-menu">
  {% for page in pagesVie %}
    <li><a href="{{path('front_page',{slug:page.slug})}}" >{{page.title}}</a></li>
 {% endfor %}

 </ul>
 </li>
 <li> <a href="{{path('app_register')}}" >Inscription

</a></li>
 <li><a href="{{path('front_contact')}}">Contact</a>
 <ul class="sub-menu">
 <li><a href="{{path('front_contact')}}">Contactez-nous</a></li>
 <li><a href="#">Postulez</a></li>
 </ul>
 </li>
 </ul>
 </div>
 <!-- Header Menu End -->

 <!-- Header Meta Start -->
 <div class="header-meta">

 <!-- Header Search Start -->
 <div class="header-search d-none d-lg-block">
 <a class="search-btn" href="#"><i class="flaticon-loupe"></i></a>
 <div class="header-search-content">
 <form action="#" method="get">
 <input type="text" placeholder="Search...">
 <button class="close-search" type="submit"><i class="flaticon-loupe"></i></button>
 </form>
 </div>
 </div>
 <!-- Header Search End -->
 <!-- Header Cart Start -->
 <div class="header-cart">
 <a class="cart-btn" href="#"><i class="flaticon-shopping-cart"></i></a>
 </div>
 <!-- Header Cart End -->
 <!-- Header Login Join Start -->
 <div class="header-login-join d-none d-lg-block">
 <a class="login" href="{{path("admin")}}">Se connecter</a>
 <a class="btn join-btn" href="{{path("app_register")}}">S'inscrire</a>
 </div>
 <!-- Header Login Join End -->
 </div>
 <!-- Header Meta End -->

 <div class="header-toggle d-lg-none">
 <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
 <span></span>
 <span></span>
 <span></span>
 </button>
 </div>
 </div>
 <!-- Header Right End -->
 </div>
 <!-- Header Wrapper End -->

 </div>
 </div>
 <!-- Header End -->



              {% for message in app.flashes('success') %}
              



                    <div class="alert alert-success alert-dismissible fade show" style="   
                             position: fixed;
                            bottom: 50px;
                            width: 80%;
                            margin: 0 auto;
                            left: 10%;
                            z-index: 9999999;" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
              
            
                {% endfor %}