{% extends '@Flexy/FrontBundle/templates/layout.html.twig' %}

{% block body %}





  <!-- Inscription Form Start -->
<div class="hero-section-2 section" style="background-position:left center;background-image: url({{asset('lambition/assets/images/bg/TEACHER.png')}});">

            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-7">
                        <!-- Hero Content Start -->
                        <div class="hero-content-2">
                            <h2 class="title">à votre entière disposition pour toute information complémentaire
 </h2>
                        </div>
                        <!-- Hero Content End -->
                    </div>
                    <div class="col-lg-5 d-flex justify-content-lg-end">
                        <div class="hero-form-2">
                            <div class="hero-form-2-wrapper">
                                <div class="heading-wrapper text-center">
                                   
                                    <h3 class="title">N'hesitez pas !</h3>
                                </div>
                               {{form_start(form)}}

                                

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Single Form Start -->
                                            <div class="single-form">
                                                {{form_widget(form)}}
                                            </div>
                                            <!-- Single Form End -->
                                        </div>
   
                                        <div class="col-sm-12">
                                            <!-- Single Form Start -->
                                            <div class="form-btn">
                                                <button class="btn" type="submit">Envoyer</button>
                                            </div>
                                            <!-- Single Form End -->
                                        </div>
                                    </div>
                                {{form_end(form)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

  <!-- Inscription Form End --> 


     

{% endblock %}

{% block javascripts %}
{{parent()}}

<script>
    $(document).ready(function()
    {
        $("#select-account").change(function(){
            var selectedAccount = $(this).val();
            

            $(".registerForm").addClass("d-none");
            $("#"+selectedAccount).removeClass("d-none");


        });
    });
</script>

{% endblock %}


