<!-- Begin Single Slide Area -->
                                    <div style="background-image:url('/uploads/{{singleSlide.image}}');" class="single-slide align-center-left  animation-style-01 bg-1">
                                        <div class="slider-progress"></div>
                                        <div class="slider-content d-none">

                                        
                                            <h5>{{singleSlide.petitTitre}}</h5>
                                            <h2>{{singleSlide.grandTitre}}</h2>
                                            <h3>{{singleSlide.textePrix}}</h3>
                                            <div class="default-btn slide-btn menu-item">
                                                <a class="links" href="{{singleSlide.lien}}">{{singleSlide.titreBtn ? singleSlide.titreBtn:"Voir plus"}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Slide Area End Here -->