            <!-- Begin Header Area -->
            <header class="li-header-4">

                <!-- Begin Header Middle Area -->
                <div class="header-middle header-sticky pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                    <div class="container">
                        <div class="row">
                            <!-- Begin Header Logo Area -->
                            <div class="col-lg-3">
                                <div class="logo pb-sm-30 pb-xs-30">
                                    <a href="index.html">
                                        <img width="150" src="{{asset('lambition/logo-services-light.png')}}" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo Area End Here -->
                            <!-- Begin Header Middle Right Area -->
                            <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                               
                                <!-- Begin Header Middle Right Area -->
                                <div class="header-middle-right">
                                    <ul class="hm-menu">
                                        
                                        <!-- Begin Header Mini Cart Area -->
                                        <li class="hm-minicart">
                                            <div class="hm-minicart-trigger">
                                                <span class="item-icon"></span>
                                                <span class="item-text">
                                                <span>MAD 0,00</span>
                                                    <span class="cart-item-count">0</span>
                                                </span>
                                            </div>
                                            <span></span>
                                            <div class="minicart">
                                                <ul class="minicart-product-list">
                                       
                                                </ul>
                                                <p class="minicart-total">Total: <span>MAD 0,00</span></p>
                                                <div class="minicart-button menu-item">
                                                    <a href="{{path('cart')}}" class="li-button li-button-fullwidth li-button-dark">
                                                        <span><i class="fa fa-shopping-basket " ></i> Voir Panier</span>
                                                    </a>
                                                    <a href="{{path('checkout')}}" class="li-button li-button-fullwidth">
                                                        <span><i class="fa fa-credit-card-alt " ></i>   Commander</span>
                                                    </a>
                                                    <a href="{{path('show_devis')}}" class="li-button li-button-fullwidth">
                                                        <span> <i class="fa fa-file-text  " ></i> Devis</span>
                                                    </a>

                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Header Mini Cart Area End Here -->
                                    </ul>
                                </div>
                                <!-- Header Middle Right Area End Here -->
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                    </div>
                </div>
                <!-- Header Middle Area End Here -->
                <!-- Begin Header Bottom Area -->
                <div class="header-bottom  d-none d-lg-block d-xl-block">
                    <div class="container text-center">
                         <div class="row menu-item" >
                    <div class="col-2 p-3" >
                        <a class="active" style="font-weight:bold;font-size:16px;" href="{{path('index_booking')}}" > 
                             <i class="fa fa-home" ></i> Accueil 
                        </a>
                    </div>
                    <div class="col-2 p-3" >
                        <a style="font-weight:bold;font-size:16px;" href="#" > 
                             <i class="fa fa-bed" ></i> Hotellerie 
                        </a>
                    </div>
                     <div class="col-2 p-3" >
                        <a style="font-weight:bold;font-size:16px;" href="#" > 
                             <i class="fa fa-cutlery" ></i> Restaurants 
                        </a>
                    </div>
                     <div class="col-2 p-3" >
                        <a style="font-weight:bold;font-size:16px;" href="#" > 
                             <i class="fa fa-map-marker" ></i> Activités 
                        </a>
                    </div>
                     <div class="col-2 p-3" >
                        <a style="font-weight:bold;font-size:16px;" href="#" > 
                             <i class="fa fa-briefcase" ></i> Entreprises 
                        </a>
                    </div>
                     <div class="col-2 p-3" >
                        <a style="font-weight:bold;font-size:16px;" href="{{path('front_home')}}" > 
                             <i class="fa fa-shopping-bag" ></i> Marketplace 
                        </a>
                    </div>
                </div>
                    </div>
                </div>
                <!-- Header Bottom Area End Here -->
                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
               
            </header>
            <!-- Header Area End Here -->


