
{% extends '@Flexy/FrontBundle/templates/layout.html.twig' %}

{% block body %}


 {% include "@Flexy/FrontBundle/templates/myaccount/_nav.html.twig" %} 

<div class="container" style="padding-bottom:150px;" >
   {% for message in app.flashes('success') %}
             
     <div class="alert  alert-success  alert-dismissible fade show text-center " role="alert">
  <strong > <i class="fa fa-check"></i>   {{ message }}</strong>  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
        {% endfor %}

 <div class="col-lg-12 col-12">
 
                            <form class="form-js-validations" action="" method="POST">
                                <div class="checkbox-form">
                                    <h3>Modifier votre mot de passe</h3>
                                    {{ form_start(registrationCustomerForm) }}
                                    <div  class="row">
                                         
                                             <div class="col-md-4 col-sm-6">
                                                  <div class="checkout-form-list">
                                                    <label>Nouveau Mot de passe <span class="required">*</span></label>
                                                    {{ form_widget(registrationCustomerForm.simulatePassword) }}
                                                    </div>
                                                 
                                            </div>
                                        </div>
                                                    
                                               
                                      
                                   
                                </div>
                                 </br>
                                     <button  class="register-button mt-0">Enregister</button>
                            </form>
                      {{ form_end(registrationCustomerForm) }}
                        </div>
 
</div>

{% endblock %}
 {% block javascripts %}
{{parent()}}

 

{% endblock %}


