{% extends '@Flexy/FrontBundle/templates/layout.html.twig' %}

{% block body %}



        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
  
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Se connecter Créer un compte</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Se connecter Content Area -->
            <div class="page-section mb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 mb-30 pt-10">
                            <!-- Se connecter Form s-->
                        <h4 >Se connecter</h4>

                            <form action="{{path('app_login')}}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 text-white font-weight-normal">Connexion</h1>

    <label for="inputUsername">Nom d'utilisateur</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    
    <br>
    <button class="register-button d-block" type="submit">
        Se connecter
    </button>
    </form>
                            
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-7 col-xs-12">
                            <div class="card p-4">

                            

                            <h4 class="login-title">Choisissez votre compte á créer</h4>

                            <select id="select-account" class="form-control" >
                                <option value="registerCustomer" >Compte Client</option>
                                <option value="registerVendor" >Compte Vendeur</option>
                            </select>

                            <br>

                                     <div id="registerCustomer" class="registerForm">
                                        {{ form_start(registrationCustomerForm) }}

                                        <div class="row">
                                            <div class="col-6" >
                                                <div class="checkout-form-list">
                                                    <label>Prénom <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.firstName) }}
                                                   </div>
                                               
                                                </div>
                                            <div class="col-6" >
                                                <div class="checkout-form-list">
                                                    <label>Nom <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.lastName) }}
                                                   </div>
                                               </div>

                                            <div class="col-6" >

                                                <div class="checkout-form-list">
                                                    <label>Email <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.email) }}
                                                   </div>
                                               </div>
                                                
                                            
                                            <!--<div class="col-6" >{{ form_row(registrationCustomerForm.companyName) }}</div>-->
                                             <div class="col-6" >

                                                  <div class="checkout-form-list">
                                                    <label>Genre <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.gender) }}
                                                   </div>
                                                 
                                                 
                                                 </div>
                                        
                                                  
                                            <div class="col-6" >
                                                    <div class="checkout-form-list">
                                                    <label>Adresse <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.address) }}
                                                   </div>
                                               </div>
                                                 
                                            <div class="col-6" >{{ form_row(registrationCustomerForm.addressIndication) }}</div>
                                            <div class="col-6" >

                                                  <div class="checkout-form-list">
                                                    <label>Téléphone <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.phone) }}
                                                   </div>
                                            
                                                
                                                </div>
                                             <div class="col-6" >{{ form_row(registrationCustomerForm.dateOfBirth) }}</div>
                                            <div class="col-6" >{{ form_row(registrationCustomerForm.postCode) }}</div>

                                            <div class="col-6" >
                                                <div class="checkout-form-list">
                                                    <label>Identifiant <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.simulateUsername) }}
                                                   </div>
                                                </div>
                                            <div class="col-6" >
                                                <div class="checkout-form-list">
                                                    <label>Mot de passe <span class="required">*</span></label>
                                                     {{ form_widget(registrationCustomerForm.simulatePassword) }}
                                                   </div>
                                                </div>
                                             
                                            <div class="col-12" >
                                                 <div class="checkout-form-list">
                                                    <label>Accepter les conditions génerales <span class="required">*</span>  {{ form_widget(registrationCustomerForm.agreeTerms) }}</label>
                                                    
                                                   </div>
                                               </div>
                                            
                                        </div>

                                        {#
                                            {{ form_row(registrationForm.username) }}
                                            {{ form_row(registrationForm.plainPassword, {
                                                label: 'Password'
                                            }) }}
                                            {{ form_row(registrationForm.agreeTerms) }}
                                        #}
                                            </br>
                                            <button  type="submit" class="register-button mt-0">Créer</button>
                                        {{ form_end(registrationCustomerForm) }}
                                            </div>

                                    <div id="registerVendor" class="d-none registerForm">
                                        {{ form_start(registrationVendorForm) }}

                                        <div class="row">
                                            <div class="col-6" > 
                                               
                                                <div class="checkout-form-list">
                                                    <label>Nom de la boutique <span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.name) }}
                                                </div>
                                               
                                                
                                            </div>
                                            <div class="col-6" > 
                                                  <div class="checkout-form-list">
                                                    <label>Nom et prénom de commercant<span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.fullName) }}
                                                </div>
                                            </div>
                                            <div class="col-12" >
                                                <div class="checkout-form-list">
                                                    <label>Adresse de siége<span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.address) }}
                                                </div>
                                                
                                            </div>
                                            <div class="col-12" >
                                                 <div class="checkout-form-list">
                                                    <label>Email<span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.email) }}
                                                </div>
                                            </div>
                                            <div class="col-6" >
                                                 <div class="checkout-form-list">
                                                    <label>Ville<span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.city) }}
                                                </div>
                                               </div>
                                            <div class="col-6" >
                                                  <div class="checkout-form-list">
                                                    <label>Téléphone<span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.tel) }}
                                                </div>
                                                
                                            </div>
                                            <div class="col-6" >
                                                   <div class="checkout-form-list">
                                                    <label>Identifiant Commun Entreprise <span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.ICE) }}
                                                </div>
                                            </div>
                                            <div class="col-6" >{{ form_row(registrationVendorForm.imageIceFile) }}</div>
                                            <div class="col-6" >
                                                  <div class="checkout-form-list">
                                                    <label>Registre du Commerce <span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.RC) }}
                                                </div>
                                               </div>
                                            <div class="col-6" >{{ form_row(registrationVendorForm.imageRCFile) }}</div>
                                            <div class="col-6" >
                                                <div class="checkout-form-list">
                                                    <label>Identifiant Fiscale <span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.IdentifiantFiscale) }}
                                                </div>
                                             </div>
                                            <div class="col-6" >{{ form_row(registrationVendorForm.imageIFFile) }}</div>
                                            <div class="col-6" >
                                                 <div class="checkout-form-list">
                                                    <label>Identifiant <span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.simulateUsername) }}
                                                </div>
                                         </div>
                                            <div class="col-6" >
                                                 <div class="checkout-form-list">
                                                    <label>Mot de passe <span class="required">*</span></label>
                                                     {{ form_widget(registrationVendorForm.simulatePassword) }}
                                                </div>
                                                
                                            </div>
                                            <div class="col-12" >
                                                <div class="checkout-form-list">
                                                    <label>Accepter les conditions génerales <span class="required">*</span>  {{ form_widget(registrationVendorForm.agreeTerms) }}</label>
                                                    
                                                   </div>
                                                </div>
                                            
                                        </div>

                                        {#
                                            {{ form_row(registrationForm.username) }}
                                            {{ form_row(registrationForm.plainPassword, {
                                                label: 'Password'
                                            }) }}
                                            {{ form_row(registrationForm.agreeTerms) }}
                                        #}
                                            </br>
                                            <button  type="submit" class="register-button mt-0">Créer</button>
                                        {{ form_end(registrationVendorForm) }}
                                            </div>


                                                   

                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Se connecter Content Area End Here -->

        </div>
        <!-- Body Wrapper End Here -->

{% endblock %}

{% block javascripts %}
{{parent()}}

<script>
    $(document).ready(function()
    {
        $("#select-account").change(function(){
            var selectedAccount = $(this).val();
            

            $(".registerForm").addClass("d-none");
            $("#"+selectedAccount).removeClass("d-none");


        });
    });
</script>

{% endblock %}


